version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: axioma_db
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./backend/.env  
    ports:
      - "5432:5432" 
    networks:
      - axioma_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U axioma_user -d axioma_db"]
      interval: 5s
      timeout: 5s
      retries: 5


  api:
    build:
      context: ./backend 
      dockerfile: Dockerfile
    container_name: axioma_api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/app 
                       
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      db:
        condition: service_healthy 
    networks:
      - axioma_net


volumes:
  postgres_data:


networks:
  axioma_net:
    driver: bridge